

<%#= render 'static_pages/table_partials/sidebar' %>

<%# MODAL for adding new item %>
<div class="modal fade" id="modal_add_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Form</h4>
      </div>
      <div class="modal-body">
        <form method="" action="">
          Product key: <input id="pk" type="text" name="pk" value="" ><br/>
          Path: <input id="p" type="text" name="p" value="" ><br/>
          Author: <input id="a" type="text" name="a" value="" ><br/>
          New item: <input id="i" type="text" name="i" value="" required><br/>
          New value: <input id="v" type="text" name="v" value="" ><br/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="submit_modal_add_item" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<%# MODAL for adding only new values to existing items %>
<div class="modal fade" id="modal_add_value" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Form</h4>
      </div>
      <div class="modal-body">
        <form method="" action="">
          Product key: <input id="pk2" type="text" name="pk" value="" ><br/>
          Path: <input id="p2" type="text" name="p" value="" ><br/>
          Author: <input id="a2" type="text" name="a" value="" ><br/>
          New value (or change value if current value exists): <input id="v2" type="text" name="v" value="" ><br/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="submit_modal_add_value" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<h1>Product Status</h1>



<%##### variables and method definitions ######%>
<% @n = 0 %>
<% def increment_n %>
  <% @n += 1 %>
<% end %>


<%####### Begin table ##################################%>
<div class="table-responsive" id="main_table">
  <table class="table table-striped">
   
    <%########## Begin table headings #####################%>
    <thead>
      <tr>
        <th class="text-center">Product</th>
        <th class="text-center">Concept</th>
        <%# <th class="text-center">Negotiate</th> %>
        <th class="text-center">Agreement</th>
        <th class="text-center">Review</th>
        <th class="text-center">Formulate</th>
        <th class="text-center">Sample</th>
        <th class="text-center">Register</th>
        <th class="text-center">Purchase order</th>
        <th class="text-center">Logistics</th>
      </tr>
    </thead>




    <%########## Begin taking each product one by one and running through each of the table column cells ###########%>
    <% @alldonet_product_list.each do |product| %>
    <% @product_key = product['pk'] %>
                          <%# variables @product_desc_part_1 and @product_desc_part_2 are defined in controller %>
      <% @alldonet_product_desc = JSON.load(open(@product_desc_part_1 + "#{@product_key}" + @product_desc_part_2)) %>
      <tr>
        <td class="row-heading text-center">
          <span class="product-code"><%= "#{product['pn']}" %></span>
          <%##################### Begin collapsible panel head in row heading ############################%>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
            <% if product['st'] != 'design' and product['st'] != 'print' and product['st'] != 'procure' %>
              <div class="panel-heading slim-heading">
            <% else %>
              <div class="panel-heading slim-heading blink">
            <% end %>
                <h4 class="panel-title">
                  <%= content_tag :a, :'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#collapse#{@n}" do %>
                    Other processes
                  <% end %>
                </h4>
              </div>
              <%############### Begin collapsible panel's collapsed contents ################%>
              <%= content_tag :div, id: "collapse#{@n}", class: "panel-collapse collapse" do %>
                <%= content_tag :div, class: "panel-body", style: "white-space:nowrap;" do %>
                  <% if product['st'] != 'design' %>
                    <% @step = 'Design' %>
                    <% @table_icon = design_icon %>
                    <% @stat_level = @step.downcase.gsub(' ', '_') %>
                    <% @table_highlight = false %>
                    <% @inside_panel = true %>
                    <%= render 'static_pages/table_partials/table_button_2' %>
                  <% else %>
                    <% @step = 'Design' %>
                    <% @table_icon = design_icon %>
                    <% @stat_level = @step.downcase.gsub(' ', '_') %>
                    <% @table_highlight = true %>
                    <% @inside_panel = true %>
                    <%= render 'static_pages/table_partials/table_button_2' %>
                  <% end %>
                  <% if product['st'] != 'print' %>
                    <% @step = 'Print' %>
                    <% @table_icon = print_icon %>
                    <% @stat_level = @step.downcase.gsub(' ', '_') %>
                    <% @table_highlight = false %>
                    <% @inside_panel = true %>
                    <%= render 'static_pages/table_partials/table_button_2' %>
                  <% else %>
                    <% @step = 'Print' %>
                    <% @table_icon = print_icon %>
                    <% @stat_level = @step.downcase.gsub(' ', '_') %>
                    <% @table_highlight = true %>
                    <% @inside_panel = true %>
                    <%= render 'static_pages/table_partials/table_button_2' %>
                  <% end %>
                  <% if product['st'] != 'procure' %>
                    <% @step = 'Procure' %>
                    <% @table_icon = procure_icon %>
                    <% @stat_level = @step.downcase.gsub(' ', '_') %>
                    <% @table_highlight = false %>
                    <% @inside_panel = true %>
                    <%= render 'static_pages/table_partials/table_button_2' %>
                  <% else %>
                    <% @step = 'Procure' %>
                    <% @table_icon = procure_icon %>
                    <% @stat_level = @step.downcase.gsub(' ', '_') %>
                    <% @table_highlight = true %>
                    <% @inside_panel = true %>
                    <%= render 'static_pages/table_partials/table_button_2' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <%# incrementing pool @n by 1 %>
          <% increment_n %>
        </td>

        <%################## End of collapsible pannel and start of main status bar ###############%>
        <% if product['st'] != 'concept' %>
          <% @table_icon = concept_icon %>
          <% @step = 'Concept' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @table_icon = concept_icon %>
          <% @step = 'Concept' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
<%
=begin %>     #commenting out negotiate cell   
        <% if product['st'] != 'negotiate' %>
          <% @table_icon = negotiate_icon %>
          <% @step = 'Negotiate' %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @table_icon = negotiate_icon %>
          <% @step = 'Negotiate' %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
<%
=end %>
        <% if product['st'] != 'agreement' %>
          <% @table_icon = agreement_icon %>
          <% @step = 'Agreement' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @step = 'Agreement' %>
          <% @table_icon = agreement_icon %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
        <% if product['st'] != 'review' %>
          <% @table_icon = review_icon %>
          <% @step = 'Review' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @table_icon = review_icon %>
          <% @step = 'Review' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
        <% if product['st'] != 'formulate' %>
          <% @table_icon = formulate_icon %>
          <% @step = 'Formulate' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @table_icon = formulate_icon %>
          <% @step = 'Formulate' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
        <% if product['st'] != 'sample' %>
          <% @table_icon = sample_icon %>
          <% @step = 'Sample' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @table_icon = sample_icon %>
          <% @step = 'Sample' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
        <% if product['st'] != 'register' %>
          <% @table_icon = register_icon %>
          <% @step = 'Register' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @table_icon = register_icon %>
          <% @step = 'Register' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
        <% if product['st'] != 'purchaseorder' %>
          <% @table_icon = purchaseorder_icon %>
          <% @step = 'Purchase order' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @table_icon = purchaseorder_icon %>
          <% @step = 'Purchase order' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
        <% if product['st'] != 'logistics' %>
          <% @table_icon = logistics_icon %>
          <% @step = 'Logistics' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = false %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% else %>
          <% @table_icon = logistics_icon %>
          <% @step = 'Logistics' %>
          <% @stat_level = @step.downcase.gsub(' ', '_') %>
          <% @table_highlight = true %>
          <% @inside_panel = false %>
          <%= render 'static_pages/table_partials/table_button_2' %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>






