<%#= render 'static_pages/table_partials/sidebar' %>

<%# MODAL for adding new item %>
<%= render 'static_pages/table_partials/modal_add_item' %>

<%# MODAL for adding only new values to existing items %>
<%= render 'static_pages/table_partials/modal_add_value' %>


<%##### variables and method definitions ######%>
<% @n = 0 %>
<% def increment_n %>
  <% @n += 1 %>
<% end %>

<% @pool_x = 0 %>
<% def increment_x %>
  <% @pool_x += 1 %>
<% end %>

<% status_array = [['concept', concept_icon], ['agreement', agreement_icon], ['review', review_icon], ['formulate', formulate_icon], ['sample', sample_icon], ['register', register_icon], ['purchase_order', purchaseorder_icon], ['logistics', logistics_icon]] %>

<% other_status_array = [['design', design_icon], ['print', print_icon], ['procure', procure_icon]] %>

<h1>Product Status</h1>
<%= @approved_prod %>

<%####### Begin table ##################################%>
<div class="table-responsive" id="main_table">
  <table class="table table-striped">
   
    <%########## Begin table headings #####################%>
    <thead>
      <tr>
        <th class="text-center">Product</th>
        <% status_array.each do |(status, icon)| %>
          <th class="text-center"><%= status.humanize %></th>
        <% end %>
      </tr>
    </thead>

    <%########## Begin taking each product one by one and running through each of the table column cells ###########%>
    <% @alldonet_product_list.each do |product| %>
      <% next if !@approved_prod.include? product['pk'] and !current_user.admin? and !current_user.employee? %>
      <% @product_key = product['pk'] %>
      <%# the below variable, @alldonet_product_desc will load a specific product's data structure from alldonet api %>
      <%# variables @product_desc_part_1 and @product_desc_part_2 are defined in controller %>
      <% @alldonet_product_desc = JSON.load(open(@product_desc_part_1 + "#{@product_key}" + @product_desc_part_2)) %>
      <tr>
        <td class="row-heading text-center">
          <span class="product-code"><%= "#{product['pn']}" %></span>
          <%##################### Begin collapsible panel head in row heading ############################%>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
            <% if product['st'] != 'design' and product['st'] != 'print' and product['st'] != 'procure' %>
              <div class="panel-heading slim-heading">
            <% else %>
              <div class="panel-heading slim-heading blink">
            <% end %>
                <h4 class="panel-title">
                  <%= content_tag :a, :'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#collapse#{@n}" do %>
                    Other processes
                  <% end %>
                </h4>
              </div>
              <%############### Begin collapsible panel's collapsed contents ################%>
              <%= content_tag :div, id: "collapse#{@n}", class: "panel-collapse collapse" do %>
                <%= content_tag :div, class: "panel-body", style: "white-space:nowrap;" do %>
                  <% other_status_array.each do |(status, icon)| %>
                    <% if product['st'] != status %>
                      <% @step = status.humanize %>
                      <% @table_icon = icon %>
                      <% @stat_level = @step.downcase.gsub(' ', '_') %>
                      <% @table_highlight = false %>
                      <% @inside_panel = true %>
                      <%= render 'static_pages/table_partials/table_button_2' %>
                    <% else %>
                      <% @step = status.humanize %>
                      <% @table_icon = icon %>
                      <% @stat_level = @step.downcase.gsub(' ', '_') %>
                      <% @table_highlight = true %>
                      <% @inside_panel = true %>
                      <%= render 'static_pages/table_partials/table_button_2' %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <%# incrementing pool @n by 1 %>
          <% increment_n %>
        </td>

        <%################## End of collapsible pannel and start of main status bar ###############%>
        <% status_array.each do |(status, icon)| %>
          <% if product['st'] != status %>
            <% @table_icon = icon %>
            <% @step = status.humanize %>
            <% @stat_level = @step.downcase.gsub(' ', '_') %>
            <% @table_highlight = false %>
            <% @inside_panel = false %>
            <%= render 'static_pages/table_partials/table_button_2' %>
          <% else %>
            <% @table_icon = icon %>
            <% @step = status.humanize %>
            <% @stat_level = @step.downcase.gsub(' ', '_') %>
            <% @table_highlight = true %>
            <% @inside_panel = false %>
            <%= render 'static_pages/table_partials/table_button_2' %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
