<h1>Product Status</h1>


<% stats = ['22341002', '43435009', '47478004', '12323001', '84565008'] %>


<div class="table-responsive">
  <table class="table table-striped">
    <% stats.each do |stat| %>
      <tr>
        <td class="row-heading"><%= "Product #{stat.first(5)}" %></td>
        <% if stat.last(3) != '001' %>
          <td class="text-center"><%= concept_icon %><br/>Concept</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= concept_icon %><br/>Concept</td>
        <% end %>
        <% if stat.last(3) != '002' %>
          <td class="text-center"><%= negotiate_icon %><br/>Negotiate</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= negotiate_icon %><br/>Negotiate</td>
        <% end %>
        <% if stat.last(3) != '003' %>  
          <td class="text-center"><%= agreement_icon %><br/>Agreement</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= agreement_icon %><br/>Agreement</td>
        <% end %>
        <% if stat.last(3) != '004' %>
          <td class="text-center"><%= review_icon %><br/>Review</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= review_icon %><br/>Review</td>
        <% end %>
        <% if stat.last(3) != '005' %>
          <td class="text-center"><%= formulate_icon %><br/>Formulate</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= formulate_icon %><br/>Formulate</td>
        <% end %>
        <% if stat.last(3) != '006' %>
          <td class="text-center"><%= sample_icon %><br/>Sample</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= sample_icon %><br/>Sample</td>
        <% end %>
        <% if stat.last(3) != '007' %>
          <td class="text-center"><%= register_icon %><br/>Register</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= register_icon %><br/>Register</td>
        <% end %>
        <% if stat.last(3) != '008' %>
          <td class="text-center"><%= manufacture_icon %><br/>Manufacture</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= manufacture_icon %><br/>Manufacture</td>
        <% end %>
        <% if stat.last(3) != '009' %>
          <td class="text-center"><%= logistics_icon %><br/>Logistics</td>
        <% else %>
          <td class="table-highlight-primary text-center"><%= logistics_icon %><br/>Logistics</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>