<h1>Product Status</h1>



<%# variables and method definitions %>
<% stats = ['22341002', '43435009', '22343011', '47478004', '12323001', '84565008'] %>
<% @n = 0 %>
<% def increment_n %>
  <% @n += 1 %>
<% end %>


<%# Begin table %>
<div class="table-responsive">
  <table class="table table-striped">
   
    <%# Begin table headings %>
    <thead>
      <tr>
        <th class="text-center">Product</th>
        <th class="text-center">Concept</th>
        <%# <th class="text-center">Negotiate</th> %>
        <th class="text-center">Agreement</th>
        <th class="text-center">Review</th>
        <th class="text-center">Formulate</th>
        <th class="text-center">Sample</th>
        <th class="text-center">Register</th>
        <th class="text-center">Purchase order</th>
        <th class="text-center">Logistics</th>
      </tr>
    </thead>




    <%# Begin taking each product one by one and running through each of the table column cells %>
    <% @alldonet_product_list.each do |product| %>
      <% @alldonet_product_desc = JSON.load(open("https://trm-dot-alldonetweb.appspot.com/c/asterism/getprod/?pk=#{product['pk']}&u=asterismui&pw=foobar")) %>
      <tr>
        <td class="row-heading text-center">
          <span class="product-code"><%= "#{product['pn']}" %></span>
          <%# Begin collapsible panel head in row heading %>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
            <% if product['st'] != 'design' and product['st'] != 'print' and product['st'] != 'procure' %>
              <div class="panel-heading slim-heading">
            <% else %>
              <div class="panel-heading slim-heading blink">
            <% end %>
                <h4 class="panel-title">
                  <%= content_tag :a, :'data-toggle' => "collapse", :'data-parent' => "#accordion", :href => "#collapse#{@n}" do %>
                    Other processes
                  <% end %>
                </h4>
              </div>
              <%# Begin collapsible panel's collapsed contents %>
              <%= content_tag :div, id: "collapse#{@n}", class: "panel-collapse collapse" do %>
                <%= content_tag :div, class: "panel-body", style: "white-space:nowrap;" do %>
                  <% if product['st'] != 'design' %>
                    <% @step = 'Design' %>
                    <% @table_icon = design_icon %>
                    <%= render 'static_pages/table_partials/table_button_no_td' %>
                  <% else %>
                    <% @step = 'Design' %>
                    <% @table_icon = design_icon %>
                    <%= render 'static_pages/table_partials/table_button_highlight_no_td' %>
                  <% end %>
                  <% if product['st'] != 'print' %>
                    <% @step = 'Print' %>
                    <% @table_icon = print_icon %>
                    <%= render 'static_pages/table_partials/table_button_no_td' %>
                  <% else %>
                    <% @step = 'Print' %>
                    <% @table_icon = print_icon %>
                    <%= render 'static_pages/table_partials/table_button_highlight_no_td' %>
                  <% end %>
                  <% if product['st'] != 'procure' %>
                    <% @step = 'Procure' %>
                    <% @table_icon = procure_icon %>
                    <%= render 'static_pages/table_partials/table_button_no_td' %>
                  <% else %>
                    <% @step = 'Procure' %>
                    <% @table_icon = procure_icon %>
                    <%= render 'static_pages/table_partials/table_button_highlight_no_td' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <%# incrementing pool @n by 1 %>
          <% increment_n %>
        </td>

        <%# End of collapsible pannel and start of main status bar %>
        <% if product['st'] != 'concept' %>
          <% @table_icon = concept_icon %>
          <% @step = 'Concept' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = concept_icon %>
          <% @step = 'Concept' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = true %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
<%
=begin %>        
        <% if product['st'] != 'negotiate' %>
          <% @table_icon = negotiate_icon %>
          <% @step = 'Negotiate' %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = negotiate_icon %>
          <% @step = 'Negotiate' %>
          <% @table_highlight = true %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
<%
=end %>
        <% if product['st'] != 'agreement' %>
          <% @table_icon = agreement_icon %>
          <% @step = 'Agreement' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @step = 'Agreement' %>
          <% @table_icon = agreement_icon %>
          <% @table_highlight = true %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
        <% if product['st'] != 'review' %>
          <% @table_icon = review_icon %>
          <% @step = 'Review' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = review_icon %>
          <% @step = 'Review' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = true %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
        <% if product['st'] != 'formulate' %>
          <% @table_icon = formulate_icon %>
          <% @step = 'Formulate' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = formulate_icon %>
          <% @step = 'Formulate' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = true %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
        <% if product['st'] != 'sample' %>
          <% @table_icon = sample_icon %>
          <% @step = 'Sample' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = sample_icon %>
          <% @step = 'Sample' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = true %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
        <% if product['st'] != 'register' %>
          <% @table_icon = register_icon %>
          <% @step = 'Register' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = register_icon %>
          <% @step = 'Register' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = true %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
        <% if product['st'] != 'purchaseorder' %>
          <% @table_icon = purchaseorder_icon %>
          <% @step = 'Purchase order' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = purchaseorder_icon %>
          <% @step = 'Purchase order' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = true %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
        <% if product['st'] != 'logistics' %>
          <% @table_icon = logistics_icon %>
          <% @step = 'Logistics' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = false %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = logistics_icon %>
          <% @step = 'Logistics' %>
          <% @stat_level = @step.downcase.gsub(' ', '') %>
          <% @table_highlight = true %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

