<h1>Product Status</h1>


<% stats = ['22341002', '43435009', '47478004', '12323001', '84565008'] %>


<div class="table-responsive">
  <table class="table table-striped">
    <% stats.each do |stat| %>
      <tr>
        <td class="row-heading">
          Product
          <br/>
          <span class="product-code"><%= "#{stat.first(5)}" %></span>
        </td>
        <% if stat.last(3) != '001' %>
          <% @table_icon = concept_icon %>
          <% @step = 'Concept' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @tabl_icon = concept_icon %>
          <% @step = 'Concept' %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
        <% if stat.last(3) != '002' %>
          <% @table_icon = negotiate_icon %>
          <% @step = 'Negotiate' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = negotiate_icon %>
          <% @step = 'Negotiate' %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
        <% if stat.last(3) != '003' %>
          <% @table_icon = agreement_icon %>
          <% @step = 'Agreement' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @step = 'Agreement' %>
          <% @table_icon = agreement_icon %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
        <% if stat.last(3) != '004' %>
          <% @table_icon = review_icon %>
          <% @step = 'Review' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = review_icon %>
          <% @step = 'Review' %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
        <% if stat.last(3) != '005' %>
          <% @table_icon = formulate_icon %>
          <% @step = 'Formulate' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = formulate_icon %>
          <% @step = 'Formulate' %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
        <% if stat.last(3) != '006' %>
          <% @table_icon = sample_icon %>
          <% @step = 'Sample' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = sample_icon %>
          <% @step = 'Sample' %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
        <% if stat.last(3) != '007' %>
          <% @table_icon = register_icon %>
          <% @step = 'Register' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = register_icon %>
          <% @step = 'Register' %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
        <% if stat.last(3) != '008' %>
          <% @table_icon = manufacture_icon %>
          <% @step = 'Manufacture' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = manufacture_icon %>
          <% @step = 'Manufacture' %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
        <% if stat.last(3) != '009' %>
          <% @table_icon = logistics_icon %>
          <% @step = 'Logistics' %>
          <%= render 'static_pages/table_partials/table_button' %>
        <% else %>
          <% @table_icon = logistics_icon %>
          <% @step = 'Logistics' %>
          <%= render 'static_pages/table_partials/table_button_highlight' %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>