


  <div class="btn-group">
  <% if @table_highlight == true %>
    <button type="button" class="btn btn-default no-button-border dropdown-toggle blink" data-toggle="dropdown">
      <%= @table_icon %>
      <% if @inside_panel == true %>
        <br/><%= @step %>
      <% end %>
    </button>
  <% else %>
    <button type="button" class="btn btn-default no-button-border dropdown-toggle" data-toggle="dropdown">
      <%= @table_icon %>
      <% if @inside_panel == true %>
        <br/><%= @step %>
      <% end %>
    </button>
  <% end %>
<%########################## Begin Dropdown ###########################################%>
    <ul class="dropdown-menu" role="menu">
<%########################## Begin level 1 dropdown ################################%>      
      <%# checking to see if $keys is nil, and if not, then put it in the dropdown button as <li> %>
      <% if !@alldonet_product_desc['wsc'][@stat_level].nil? and !@alldonet_product_desc['wsc'][@stat_level]['$keys'].nil? %>
        <% @alldonet_product_desc['wsc'][@stat_level]['$keys'].each do |key| %>
          <li class="dropdown-submenu">
            <%= content_tag :a, tabindex: "-1", href: "#", :'data-toggle' => "modal", :'data-target' => "#modal_add_value", onclick: "edit_value('#{@product_key}', '#{@stat_level}.#{key.gsub(" ", "_")}', '#{current_user.first_name}')" do %>
              <%= key.humanize %>
            <% end %>
            <ul class="dropdown-menu">
<%################################ Begin level 2 submenu #####################%>
              <%# checking to see if $keys is nil, and if not, then put it in the dropdown button as <li> %>
              <% if !@alldonet_product_desc['wsc'][@stat_level][key].nil? and !@alldonet_product_desc['wsc'][@stat_level][key]['$keys'].nil? %>
                <% @alldonet_product_desc['wsc'][@stat_level][key]['$keys'].each do |key2| %>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#"><%= key2.to_s.humanize %></a>
                    <ul class="dropdown-menu">
<%############################### Begin level 3 submenu ####################%>
                      <%# checking to see if $keys is nil, and if not, then put it in the dropdown button as <li> %>
                      <% if !@alldonet_product_desc['wsc'][@stat_level][key][key2].nil? and !@alldonet_product_desc['wsc'][@stat_level][key][key2]['$keys'].nil? %>
                        <% @alldonet_product_desc['wsc'][@stat_level][key][key2]['$keys'].each do |key3| %>
                          <li><a tabindex="-1" href="#"><%= key3.to_s.humanize %></a></li>
                        <% end %>
                      <% end %>
                      <li><a href="#"> Add new field</a></li>
<%############################### End level 3 submenu and back to level 2 ####################%>
                    </ul>
                  </li>
                  <%# Checking to see if $value is present, put it in the dropdown menu as <li> %>
                  <% if @alldonet_product_desc['wsc'][@stat_level][key][key2]['$value'].present? %>
                    <% key3 = @alldonet_product_desc['wsc'][@stat_level][key][key2]['$value'] %>
                    <li><p tabindex="-1" href="#"><%= key3.to_s.humanize %></p></li>
                  <% end %>
                <% end %>
              <% end %>  
              <li><a href="#"> Add new field</a></li>
<%############################### End level 2 submenu and back to level 1 ####################%>                
            </ul>
          </li>
          <%# Checking to see if $value is present, put it in the dropdown menu as <li> %>
          <% if @alldonet_product_desc['wsc'][@stat_level][key]['$value'].present? %>
            <% key2 = @alldonet_product_desc['wsc'][@stat_level][key]['$value'] %>
            <li><p tabindex="-1" href="#"><%= key2.to_s.humanize %></p></li>
          <% end %>
        <% end %>
      <% end %>
      <li>
        <%= content_tag :a, href: "#", :'data-toggle' => "modal", :'data-target' => "#modal_add_item", onclick: "edit('#{@product_key}', '#{@stat_level}', '#{current_user.first_name}')" do %>
          Add new field
        <% end %>
      </li>
<%########################## End level 1 dropdown ###################%>      
    </ul>
<%########################## End Dropdown ###########################################%>
  </div>



