<div class="btn-group">

<%
=begin
%> #commenting out old button with caption @step
  <button type="button" class="btn btn-default no-button-border dropdown-toggle" data-toggle="dropdown">
    <%= @table_icon %><br/><%= @step %><span class="caret"></span>
  </button>
<%
=end
%>
<% if @table_highlight == true %>
  <button type="button" class="btn btn-default no-button-border dropdown-toggle blink" data-toggle="dropdown">
    <%= @table_icon %><br/><%= @step %><%# <span class="caret"></span> %>
  </button>
<% else %>
  <button type="button" class="btn btn-default no-button-border dropdown-toggle" data-toggle="dropdown">
    <%= @table_icon %><br/><%= @step %><%# <span class="caret"></span> %>
  </button>
<% end %>


<%########################## Begin Dropdown ###########################################%>
  <ul class="dropdown-menu" role="menu">
    <% if !@alldonet_product_desc['wsc'][@stat_level].nil? %>
<%########################## Begin level 1 dropdown ################################%>
      <% @alldonet_product_desc['wsc'][@stat_level].each do |key, value| %>
        <% unless key == 'keys' or key == 'input' or key == 'comments' %>
          <li class="dropdown-submenu"><a tabindex="-1" href="#"><%= key.humanize %></a>
            <ul class="dropdown-menu">
<%################################ Begin level 2 submenu #####################%>
              <% @alldonet_product_desc['wsc'][@stat_level][key].each do |key2, value2| %> 
                <% unless key2 == 'keys' or key2 == 'input' or key2 == 'comments' %>
                  <li class="dropdown-submenu"><a tabindex="-1" href="#"><%= key2.humanize %></a>

                    <ul class="dropdown-menu">

<%############################### Begin level 3 submenu ####################%>
                      <% if value2.is_a? String %>
                        <%# in case value2 (key3) is a string and not a key %>
                        <li><a tabindex="-1" href="#"><%= value2.humanize %></a></li>
                      <% else %>
                        <% @alldonet_product_desc['wsc'][@stat_level][key][key2].each do |key3, value3| %> 
                          <% if key3 == 'value' %>
                            <% unless key3 == 'keys' or key3 == 'input' or key3 == 'comments' %>
                            <li><a tabindex="-1" href="#"><%= value3.to_s.humanize %></a>
                            <% end %>
                          <% else %>
                            <% unless key3 == 'keys' or key3 == 'input' or key3 == 'comments' %>
                            <li><a tabindex="-1" href="#"><%= key3.to_s.humanize %></a>
                            <% end %>
                          <% end %>
                            </li>
                        <% end %>

                      <% end %>
                    </ul>
                  </li>

                <% end %>
              <% end %>
              <li><a href="#"> Add new field</a></li>
            </ul>
          </li>
        <% end %>
      <% end %>
      <li><a href="#">Add new field</a></li>
    <% end %>
  </ul>
</div>